.card {
  display: block;
  height: 350px;
  width: 250px;
  max-width: 250px;
  background-color: #fffdd0;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  margin: 10px;
  float: left;
  position: relative;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
}
.Red {
    background-color: #a84832;
}
.Blue {
    background-color: #3279a8;
}
.Green {
    background-color: #42a832;
}
.Purple {
    background-color: #9e32a8;
}
.Colorless {
    background-color: gray;
}
.Curse {
    background-color: #333;
}
.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.tags,
.type-Attack,
.type-Skill,
.type-Power,
.type-Status,
.type-Curse,
.card-description,
.card-name {
  margin: auto;
  text-align: center;
  font-family: 'Kreon', serif;
  max-width: 250px;
  font-size: 18px;
}

.type-Attack,
.type-Skill,
.type-Power,
.type-Status,
.type-Curse {
  background-color: #555;
  height: 150px;
  width: 225px;
}

.type-Power {
  border-radius: 50%;
}

.type-Attack,
.type-Skill,
.type-Curse,
.type-Status {
  border-radius: 5%;
}

.card-description {
  white-space: pre-wrap;
}